designs/server/services/ids.json
[
    {
        "id": "sd_QSlJxM0Tcw286czj",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_DwnwsN34XbTSRvow",
        "type": "HttpIn",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_yehBKnYi4PTx8VXL"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_DwnwsN34XbTSRvow"
    },
    {
        "id": "sd_U0TbZq5Vf7AFWTlN",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_U0TbZq5Vf7AFWTlN",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_iZKLVJLJghg3Nm4L"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_iZKLVJLJghg3Nm4L",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_iZKLVJLJghg3Nm4L",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_PoxPDpsPcAU38KDl"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_J0EwWgrC3FzedzrT",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_J0EwWgrC3FzedzrT",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_0aRDOGweSjyg0gZ1"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_PoxPDpsPcAU38KDl",
        "type": "CallService",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sOxsrtEFnbJKXNak",
            "serviceName": "idsutil",
            "id": "sd_sOxsrtEFnbJKXNak",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_fhWjbV8LTlOxWdET",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_PoxPDpsPcAU38KDl",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_UMd3A3dco4j4pxhX"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_0aRDOGweSjyg0gZ1",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_0aRDOGweSjyg0gZ1",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_0MVnfCjzlfOMRz7X",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0MVnfCjzlfOMRz7X",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_U0TbZq5Vf7AFWTlN"
            ],
            [
                "sd_w4zYOLCEdVAqIDJC"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_yehBKnYi4PTx8VXL",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_yehBKnYi4PTx8VXL",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_0MVnfCjzlfOMRz7X"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_cK1VV7QpcRuvfRQs",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_cK1VV7QpcRuvfRQs",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_w4zYOLCEdVAqIDJC",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_w4zYOLCEdVAqIDJC",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_cK1VV7QpcRuvfRQs"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3GbwAPv8Tn22tA6W",
        "type": "MiddlewareStart",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_Z05itNnQxM6wCEzR"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_3GbwAPv8Tn22tA6W"
    },
    {
        "id": "sd_8ZY0opxBSLcC9CAi",
        "type": "MiddlewareEnd",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8ZY0opxBSLcC9CAi",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Z05itNnQxM6wCEzR",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_Z05itNnQxM6wCEzR",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_8ZY0opxBSLcC9CAi"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UMd3A3dco4j4pxhX",
        "type": "CallService",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sOxsrtEFnbJKXNak",
            "serviceName": "idsutil",
            "id": "sd_sOxsrtEFnbJKXNak",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_1EUgjUsdh6mcmN0I",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_UMd3A3dco4j4pxhX",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_J0EwWgrC3FzedzrT"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aAe18ooQ4lViCpRn",
        "type": "HttpIn",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_PXymnfOm5evpmwkr"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_aAe18ooQ4lViCpRn"
    },
    {
        "id": "sd_sruJRzmGjZb5W5iL",
        "type": "CallService",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sOxsrtEFnbJKXNak",
            "serviceName": "idsutil",
            "id": "sd_sOxsrtEFnbJKXNak",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_fhWjbV8LTlOxWdET",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_sruJRzmGjZb5W5iL",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_9qhSLNsiWGPohvF0"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9qhSLNsiWGPohvF0",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_9qhSLNsiWGPohvF0",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_6eUFrjhVzWiKOgR7"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PXymnfOm5evpmwkr",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_PXymnfOm5evpmwkr",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_sruJRzmGjZb5W5iL"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_j7RM6Re8NER3V8yV",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_j7RM6Re8NER3V8yV",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_1z6p8MAhrqXGFR8V"
            ],
            [
                "sd_XKB7H6Xjg9rN5Xbz"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1z6p8MAhrqXGFR8V",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_1z6p8MAhrqXGFR8V",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_kPj9rO3sXuLYOyZ7"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XKB7H6Xjg9rN5Xbz",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_XKB7H6Xjg9rN5Xbz",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_g4buUoXsSuYJOGSp"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_kPj9rO3sXuLYOyZ7",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_kPj9rO3sXuLYOyZ7",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_g4buUoXsSuYJOGSp",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_g4buUoXsSuYJOGSp",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6eUFrjhVzWiKOgR7",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_6eUFrjhVzWiKOgR7",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_j7RM6Re8NER3V8yV"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0MN9OzAN7PGn8mPE",
        "type": "HttpIn",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_YG7H9LMnX05nH85L"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_0MN9OzAN7PGn8mPE"
    },
    {
        "id": "sd_YG7H9LMnX05nH85L",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_YG7H9LMnX05nH85L",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_15yqN5Pd9Kz98K7o"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_15yqN5Pd9Kz98K7o",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_15yqN5Pd9Kz98K7o",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Kc9pVJRzOUou4xBY",
        "type": "Catch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_UMd3A3dco4j4pxhX",
            "sd_aAe18ooQ4lViCpRn",
            "sd_sruJRzmGjZb5W5iL",
            "sd_9qhSLNsiWGPohvF0",
            "sd_PXymnfOm5evpmwkr",
            "sd_j7RM6Re8NER3V8yV",
            "sd_1z6p8MAhrqXGFR8V",
            "sd_XKB7H6Xjg9rN5Xbz",
            "sd_kPj9rO3sXuLYOyZ7",
            "sd_g4buUoXsSuYJOGSp"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_Kc9pVJRzOUou4xBY",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_X2GtQesEMJyRCGkI"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_X2GtQesEMJyRCGkI",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_X2GtQesEMJyRCGkI",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_08BrgeqsMWWycrT3",
        "type": "HttpIn",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_26rNT0QlggOycRfU"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_08BrgeqsMWWycrT3"
    },
    {
        "id": "sd_26rNT0QlggOycRfU",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_26rNT0QlggOycRfU",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_OCIAV5M9vfCm3JVd"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_OCIAV5M9vfCm3JVd",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_OCIAV5M9vfCm3JVd",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_cbCkOQrQB3yFLiYX"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DjvCwgCSn8WPrbh5",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_DjvCwgCSn8WPrbh5",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_mucvH9v3DhSGsese"
            ],
            [
                "sd_g6NWWB2PnDuJi0L1"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mucvH9v3DhSGsese",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_mucvH9v3DhSGsese",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cbCkOQrQB3yFLiYX",
        "type": "CallService",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sOxsrtEFnbJKXNak",
            "serviceName": "idsutil",
            "id": "sd_sOxsrtEFnbJKXNak",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_fhWjbV8LTlOxWdET",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_cbCkOQrQB3yFLiYX",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_DjvCwgCSn8WPrbh5"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TvWB7TwSc58a6Jbs",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_TvWB7TwSc58a6Jbs",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_g6NWWB2PnDuJi0L1",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_g6NWWB2PnDuJi0L1",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_TvWB7TwSc58a6Jbs"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9ZO0Cv5Qbva8QWkR",
        "type": "HttpIn",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_7JFG8ahN8U4yYdOK"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_9ZO0Cv5Qbva8QWkR"
    },
    {
        "id": "sd_7JFG8ahN8U4yYdOK",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_7JFG8ahN8U4yYdOK",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_V9ZZeenAut5SwJ5u"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rXEVBRnEJLAD0B9w",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_rXEVBRnEJLAD0B9w",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_sswctfXB39xlherT"
            ],
            [
                "sd_NJT4A3mZ1f7JinhQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sswctfXB39xlherT",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_sswctfXB39xlherT",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_iEC932Af1gQimqir"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_iEC932Af1gQimqir",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_iEC932Af1gQimqir",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NJT4A3mZ1f7JinhQ",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_NJT4A3mZ1f7JinhQ",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_UZLpd10GAzixmm9Q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UZLpd10GAzixmm9Q",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_UZLpd10GAzixmm9Q",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_V9ZZeenAut5SwJ5u",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_V9ZZeenAut5SwJ5u",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_rXEVBRnEJLAD0B9w"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_j9rtrIYOBMpMmGUp",
        "type": "MiddlewareStart",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_xr6VyRUwUWBp5Dgt"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_j9rtrIYOBMpMmGUp"
    },
    {
        "id": "sd_26AQV7vYME1Azrrg",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_26AQV7vYME1Azrrg",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_eDxQZrO7hZ5CfK6q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_c9tLFW8g57VsvS4R",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_c9tLFW8g57VsvS4R",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_QlAr3F0KbISFTlom"
            ],
            [
                "sd_wCSDJggjgCY11BKn"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wCSDJggjgCY11BKn",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_wCSDJggjgCY11BKn",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_niRAaRMF7Mbsf0PV"
            ],
            [
                "sd_e9hge8gI4eHAxH04"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RLMZ5Sw3Gkdwe48e",
        "type": "HttpOut",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RLMZ5Sw3Gkdwe48e",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_niRAaRMF7Mbsf0PV",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_niRAaRMF7Mbsf0PV",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_RLMZ5Sw3Gkdwe48e"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_e9hge8gI4eHAxH04",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_e9hge8gI4eHAxH04",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_RLMZ5Sw3Gkdwe48e"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_F1lthOwiBYOZvATv",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_F1lthOwiBYOZvATv",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_VSsvke78tl6BiM0z"
            ],
            [
                "sd_uuO04qOdaTGm2Hte"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9wF5nOng0WfwUyrV",
        "type": "MiddlewareEnd",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_9wF5nOng0WfwUyrV",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pwCnycaE5RkjzqVt",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_pwCnycaE5RkjzqVt",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_RLMZ5Sw3Gkdwe48e"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QlAr3F0KbISFTlom",
        "type": "CallService",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_sOxsrtEFnbJKXNak",
            "serviceName": "idsutil",
            "id": "sd_sOxsrtEFnbJKXNak",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_Bqz5LTMq5SxVkaca",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_QlAr3F0KbISFTlom",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_F1lthOwiBYOZvATv"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xr6VyRUwUWBp5Dgt",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_xr6VyRUwUWBp5Dgt",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_26AQV7vYME1Azrrg"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_eDxQZrO7hZ5CfK6q",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_eDxQZrO7hZ5CfK6q",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_c9tLFW8g57VsvS4R"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VSsvke78tl6BiM0z",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_VSsvke78tl6BiM0z",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_pwCnycaE5RkjzqVt"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uuO04qOdaTGm2Hte",
        "type": "Switch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_uuO04qOdaTGm2Hte",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_1GgFjlVwlZGTveK1"
            ],
            [
                "sd_9wF5nOng0WfwUyrV"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TfW68TNHE2hyaD9x",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_TfW68TNHE2hyaD9x",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_9wF5nOng0WfwUyrV"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1GgFjlVwlZGTveK1",
        "type": "Script",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_1GgFjlVwlZGTveK1",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_TfW68TNHE2hyaD9x"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CP7ydRiTFZKhuK3n",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_Sb709GrYzpCUFk7m",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_u7pp90HbrToAnLv6",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_PaROMLCePgiFAwU7",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_Y42MfEkZ2cbSCLFU",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_tckPSmN60KRWZVBW",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_vjFbjtdo5kcPThmc",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_KBjuZ6j0OQiRbkeF",
        "type": "Comments",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_c2npXW4VJIG6uudj",
        "type": "Catch",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_QlAr3F0KbISFTlom"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_c2npXW4VJIG6uudj",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_pwCnycaE5RkjzqVt"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_QSlJxM0Tcw286czj",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_TvWB7TwSc58a6Jbs"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
